<h2>Login</h2>
<form action="/api/sessions/login" method="post">
<label>Email</label><input type="email" name="email" id="email">
<label>Password</label><input type="password" name="password" id="password">
<input type="submit" value="Enviar">
</form>
<button onclick="location.href='/api/sessions/auth/github'">GitHub</button>