<h2>SignUp</h2>
<form action="/api/sessions/signup" method="post">
First Name: <input type="text" name="first_name" id="first_name" required>
Last Name: <input type="text" name="last_name" id="last_name" required>
Email: <input type="email" name="email" id="email" required> 
Password: <input type="password" name="password" id="password" required>
<input type="submit" value="Crear">
</form>
<button onclick="location.href='/api/sessions/auth/github'">GitHub</button>